<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hexlet-messenger
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.py-xl-4.px-0.px-xl-4
      .row.radius-xl.mx-0
        .col-xl-4.px-4.border-xl-right
          include pug/header.pug
          - var page = "chat"
          +header('index.html', 'd-flex fixed-bottom header radius-xl-left-top bg-primary mx-xl-n4 align-items-center')
          div(class="tab-content" id="pills-tabContent")
            include pug/contact.pug
            +contacts('tab-pane fade')
            include pug/messages-preview.pug
            +messages-preview('list-unstyled contacts-list message-list tab-pane fade show active','chats')
            include pug/profile.pug
            include pug/chat-mobile.pug
            +chat-mobile('tab-content d-xxl-none tab-pane fade', "pills-home", "pills-profile", "pills-messages")
        .col-xl-8.d-none.d-xl-block.pr-xxl-5
          +chat-mobile('tab-content', "v-home", "v-pills-profile", "v-pills-messages")
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")