<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.rounded
      .row
        .col-4
          - var page = 'chat'
          include header.pug
          include search.pug
          +header('index.html')
          +search('Чаты', 'Поиск по сообщениям')
          include messages-preview.pug
        .col-8
          include header-chat.pug
          include chat-mobile.pug