<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hexlet-messenger
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.rounded
      .row
        .col-4
          - var page = 'chat'
          include pug/header.pug
          include pug/search.pug
          +header('index.html')
          include pug/messages-preview.pug
        .col-8
          include pug/header-chat.pug
          include pug/chat-mobile.pug