ul.border-right
  li.d-flex.pt-5.pr-4
    img(src="images/avatar_3.jpg", alt="avatar" width="50" height="50")
    div
      p
        b Алексей Примадонин
      small Онлайн
  li.d-flex.pt-5.pr-4
    img(src="images/avatar_3.jpg", alt="avatar" width="50" height="50")
    div
      p
        b Алексей Примадонин
      small Онлайн
  li.d-flex.pt-5.pr-4
    img(src="images/avatar_3.jpg", alt="avatar" width="50" height="50")
    div
      p
        b Алексей Примадонин
      small Онлайн