mixin header(link)
  header.d-flex.border-right
    a(href=link)
      img(src="images/icons/sprite.svg#images--icons--logo", alt="logo" width="15")
    nav
      ul.list-inline
        li.list-inline-item
          a(href="")
            img(src="images/icons/sprite.svg#images--icons--people", alt="contacts" width="25")
            |Контакты
        li.list-inline-item
          a(href="")
            img(src="images/icons/sprite.svg#images--icons--chat", alt="messages" width="25")
            |Сообщения
        li.list-inline-item
          a(href="")
            img(src="images/icons/sprite.svg#images--icons--person", alt="profile" width="18.75")
            |Профиль