<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hexlet-messenger
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.rounded
      .row
        .col-xxl-4.px-4
          include pug/header.pug
          +header
          - var component
          div(class="tab-content" id="pills-tabContent")
            include pug/contact.pug
            include pug/messages-preview.pug
            include pug/profile.pug
          include pug/chat-mobile.pug
        .col-xxl-8.d-none.justify-content-center
          include pug/avatar.pug
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/index.js")