<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.rounded
      .row
        .col-xxl-4.px-4
          include header.pug
          include search.pug
          +header
          +search('Контакты', 'Поиск по контактам')
          include contact.pug
          include messages-preview.pug
          include profile.pug
          include chat-mobile.pug
        .col-xxl-8.position-fixed.right-0.d-none
          include avatar.pug