<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hexlet-messenger
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.radius-xxl.mt-xxl-4.mb-xxl-4
      .row
        .col-xxl-4.px-4.border-xxl-right
          include pug/header.pug
          +header('','d-flex fixed-bottom header radius-xxl-left-top bg-primary mx-n4')
          div(class="tab-content" id="pills-tabContent")
            include pug/contact.pug
            +contacts('tab-pane fade show active')
            include pug/messages-preview.pug
            +messages-preview('list-unstyled contacts-list message-list tab-pane fade','chats') 
            include pug/profile.pug
        .col-xxl-8.d-none.justify-content-center.d-xxl-flex
          include pug/avatar.pug
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")