<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title hexlet-messenger
    link(rel="stylesheet", href="app.css")
  body
    .container-xxl.px-0
      .row.mx-xl-4.my-xl-4.radius-xl.mx-0
        .col-xl-4.px-4.border-xl-right
          include pug/header.pug
          +header('','d-flex fixed-bottom header radius-xl-left-top bg-primary mx-xl-n4 align-items-center')
          div(class="tab-content" id="pills-tabContent")
            include pug/contact.pug
            +contacts('tab-pane fade show active')
            include pug/messages-preview.pug
            +messages-preview('list-unstyled contacts-list message-list tab-pane fade','chats') 
            include pug/profile.pug
        .col-xl-8.d-none.justify-content-center.d-xl-flex
          include pug/avatar.pug
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")