@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
.contact {
  @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.08));
  &:hover {
    background-color: theme-color("primary");
    cursor: pointer;
  }
  &:hover .contact-name {
    color: theme-color("light") !important;
  }
  &:hover .contact-status {
    color: theme-color("gray") !important;
  }
}

@include media-breakpoint-up(xxl) {
  .contacts-list {
    border-right: 1px solid $border-color;
    padding-right: 1.5rem;
  }
}
.contacts-avatar {
  margin-top: 21px;
  margin-bottom: 20px;
}