@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(xl) {
  .header {
    position: static;
  }
}

.header-link {
  padding-bottom: 23px;
  padding-left: 21px;
  margin-top: -1px;
}

.header-nav-link {
  font-size: 0;
}

@include media-breakpoint-up(xl) {
  .header-nav-link {
    font-size: 12.8px;
  }
}
