.header {
  order: 1;
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin-left: -24px;
  margin-right: -16px;
  @include media-breakpoint-up(xl) {
    order: 0;
  }
}

.header-link {
  margin-top: -1px;
  padding-bottom: 23px;
  padding-left: 21px;
}

.header-nav-link {
  font-size: 0;
}

@include media-breakpoint-up(xl) {
  .header-nav-link {
    font-size: 12.8px;
  }
}
