.text-hidden {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-list .contact:hover {
  color: theme-color("light") !important;
}

.message-list .contact:hover .message-time {
  color: theme-color("secondary") !important;
}
