.profile-name {
  padding-right: 38px;
  padding-bottom: 52px;
  padding-left: 39px;
}

.profile-contacts-item {
  padding-left: 12px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 6px;

    width: calc(100% - 12px);
    height: 1px;

    background-color: theme-color("gray");

    content: "";
  }
}
