.profile-name {
  padding-left: 39px;
  padding-right: 38px;
  padding-bottom: 52px;
}
.profile-contacts-item {
  padding-left: 12px;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: theme-color("gray");
    width: calc(100% - 12px);
    left: 6px;
    bottom: 0;
  }
}