.profile-name {
  padding-bottom: 52px;
}

.profile-contacts-item {
  padding-left: 12px;
  padding-bottom: 10px;

  &::after {
    position: absolute;
    bottom: 2px;
    left: 6px;

    width: calc(100% - 12px);
    height: 1px;

    background-color: theme-color("gray");

    content: "";
  }
}
.profile-image {
  margin-top: 19px;
}

.profile-contacts {
  margin-top: 49px;
}

.profile-contacts-item:not(:first-child) {
  padding-top: 15px;
}