@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@include media-breakpoint-up(xxl) {
  .search .form-control-lg{
    font-size: 1rem;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}