@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.search .form-control-lg {
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 1rem;
}
