mixin chat-header(image,name,status)
  ul.list-unstyled.mb-5
    li.d-flex.align-items-center
      img(src=image, alt="avatar" width="50" height="50").rounded-circle.contacts-avatar.ml-n2.ml-xl-0
      div.pl-4.d-flex.flex-column
        p.mb-0
          b.text-dark=name
        small.text-secondary=status