mixin chat-header(image,name,status)
  ul.list-unstyled.mb-xl-5.messages-header.pl-4.pl-xl-0
    li.d-flex.align-items-center
      img(src=image, alt="avatar" width="50" height="50").rounded-circle.contacts-avatar.ml-n2.ml-xl-0
      div.pl-4.d-flex.flex-column
        p.mb-0.font-weight-bold.text-dark.letter-spacing-04=name
        small.text-secondary.letter-spacing-03=status