include chat-header.pug
mixin chat-mobile(classes, id1, id2, id3)
  div(class=classes id=id1)
    div.tab-pane.fade.sticky-top.show.active
      +chat-header("images/avatar_4.jpg",'Вениамин Редакторович','Онлайн')
    div.tab-pane.fade.sticky-top(id=id2 role="tabpanel")
      +chat-header("images/avatar_2.jpg",'Джедай Падаванов','Был онлайн вчера')
    div.tab-pane.fade.sticky-top(id=id3 role="tabpanel")
      +chat-header("images/avatar_3.jpg",'Алексей Примадонин','Онлайн')
    ul.messages.mb-0
      include chat-messages.pug
      +chat-messages("images/avatar_4.jpg",'d-flex flex-column bg-light p-4 rounded chat-message','text-secondary mb-2 letter-spacing-03','mb-1 font-weight-bold text-dark letter-spacing-04','Вениамин Редакторович','Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?','text-secondary letter-spacing-n-04','8 минут назад','d-flex')
      +chat-messages("images/avatar_1.jpg",'d-flex flex-column bg-primary p-4 rounded chat-message','text-light mb-2 letter-spacing-03','d-none','','Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень','text-gray letter-spacing-n-04','5 минут назад','d-flex ml-xl-auto')
      +chat-messages("images/avatar_4.jpg",'d-flex flex-column bg-light p-4 rounded chat-message','text-secondary mb-2 letter-spacing-03','mb-1 font-weight-bold text-dark letter-spacing-04','Вениамин Редакторович','Лады','text-secondary letter-spacing-n-04','5 минут назад','d-flex invisible-xxl')
      +chat-messages("images/avatar_1.jpg",'d-flex flex-column bg-primary p-4 rounded chat-message','text-light mb-2 letter-spacing-03','d-none','','А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие','text-gray','3 минуты назад','d-flex ml-xl-auto')
      +chat-messages("images/avatar_4.jpg",'d-flex flex-column bg-light p-4 rounded chat-message','text-secondary mb-2','mb-1 font-weight-bold text-dark','Вениамин Редакторович','о_О','text-secondary','Только что','d-flex')
    form.ml-xl-5.messages-form.px-xl-0.d-flex.justify-content-between.align-items-center.border-top
      input(type="text" placeholder="Напишите сообщение...").mt-xl-4.border-0.messages-input
      button(type="submit").rounded-circle.bg-primary.border-0.chat-btn.mt-3
        img(src="images/icons/sprite.svg#images--icons--cursor", alt="submit" width="21")