- var count = 0;
include search.pug
mixin contacts(classes)
  div(class=classes id="contacts")
    +search('Контакты', 'Поиск по контактам','pt-5 search mb-5 contacts')
    each val, key in contacts
      p.text-muted.mt-5= key
      each value in val
        div.d-flex.flex-column.mb-3
          a.d-flex.text-decoration-none.align-items-center.contact
            img(src= value.avatar.slice(1), alt="avatar" width="50" height="50").rounded-circle.contacts-avatar.ml-3
            div.pl-4.d-flex.flex-column
              p.mb-0
                b.text-dark.contact-name= value.name
              small.text-secondary.contact-status= value.status