mixin header(link, classes)
  header(class=classes)
    a(href=link).pt-4
      img(src="images/icons/sprite.svg#images--icons--logo", alt="logo" width="15")
    nav
      ul.list-inline.nav.nav-pills.align-items-center(id="pills-tab" role="tablist")
        if page == 'chat'
          li.list-inline-item.nav-item.d-xxl-none(role="presentation")
            a(id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="contacts" aria-selected="true").nav-link
              img(src="images/icons/sprite.svg#images--icons--chat-left-text", alt="chat" width="25")
        li.list-inline-item.nav-item(role="presentation")
          a(id="pills-home-tab" data-toggle="pill" href="#contacts" role="tab" aria-controls="contacts" aria-selected="true").nav-link
            img(src="images/icons/sprite.svg#images--icons--people", alt="contacts" width="25")
            |Контакты
        li.list-inline-item.nav-item(role="presentation")
          a(id="pills-profile-tab" data-toggle="pill" href="#chats" role="tab" aria-controls="chats" aria-selected="false").nav-link
            img(src="images/icons/sprite.svg#images--icons--chat", alt="messages" width="25")
            |Сообщения
        li.list-inline-item.nav-item(role="presentation")
          a(id="pills-contact-tab" data-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false").nav-link
            img(src="images/icons/sprite.svg#images--icons--person", alt="profile" width="19")
            |Профиль