ul.list-unstyled.contacts-list.message-list.tab-pane.fade.pt-5(id="chats" role="tabpanel" aria-labelledby="pills-profile-tab")
  li.d-flex.flex-column.pb-3
    a(class="d-flex text-decoration-none align-items-center text-secondary contact" href="chat.html")
      img(src="images/avatar_4.jpg", alt="avatar" width="50" height="50").rounded-circle.contacts-avatar.ml-3
      div.pl-4.text-hidden.flex-grow-1.mr-40
        div.d-flex.justify-content-between
          b.text-dark.contact-name Вениамин Редакторович
          small.message-time 11:45
        small.contact-status o_O
  li.d-flex.flex-column.pb-3
    a(class="d-flex text-decoration-none align-items-center text-secondary contact" href="chat.html")
      img(src="images/avatar_2.jpg", alt="avatar" width="50" height="50").rounded-circle.contacts-avatar.ml-3
      div.pl-4.text-hidden.flex-grow-1.mr-40
        div.d-flex.justify-content-between
          b.text-dark.contact-name  Джедай Падаванов
          small.message-time 10:12
        small.contact-status Привет, скоро третий проект? Уже скоро надо будет выложить
  li.d-flex.flex-column.pb-3
    a(class="d-flex text-decoration-none align-items-center text-secondary contact" href="chat.html")
      img(src="images/avatar_3.jpg", alt="avatar" width="50" height="50").rounded-circle.contacts-avatar.ml-3
      div.pl-4.text-hidden.flex-grow-1.mr-40
        div.d-flex.justify-content-between
          b.text-dark.contact-name  Алексей Примадонин
          small.message-time 08:53
        small.contact-status Тесты упали >_<