include search.pug
div.tab-pane.fade.hide-scrollbar(id="profile" role="tabpanel" aria-labelledby="pills-contact-tab")
  +search('Профиль', 'Поиск по сообщениям', 'pt-5 search mb-5 contacts profile')
  div.card.text-center.align-items-center.border-0.py-3.mb-3
    img(src="images/avatar_1.jpg", alt="avatar" width="90").rounded-circle.profile-image
    div.pt-3.profile-name
      p.card-title.font-weight-bold.text-dark.lh-3.mb-3 Кодовёнок Хекслетович
      p.card-text.text-secondary.opacity-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
  ul.list-group.py-3.profile-contacts
    li.list-group-item.border-0.profile-contacts-item.d-flex.justify-content-between
      div
        p.mb-0.small.text-secondary.opacity-50 Страна
        small.text-dark Москва, Россия
      img(src="images/icons/sprite.svg#images--icons--globe", width="16" alt="globe")
    li.list-group-item.border-0.profile-contacts-item.d-flex.justify-content-between
      div
        p.mb-0.small.text-secondary.opacity-50 Телефон
        a(href="tel:+74991234567").text-dark.small +7 (499) 123-45-67
      img(src="images/icons/sprite.svg#images--icons--telephone", width="16" alt="telephone")
    li.list-group-item.border-0.profile-contacts-item.d-flex.justify-content-between
      div
        p.mb-0.small.text-secondary.opacity-50 Email
        a(href="mailto:nikita.m@hexlet.io").text-dark.small nikita.m@hexlet.io
      img(src="images/icons/sprite.svg#images--icons--envelope", width="16" alt="envelope")
    li.list-group-item.border-0.profile-contacts-item.d-flex.justify-content-between
      div
        p.mb-0.small.text-secondary.opacity-50 Twitter
        a(href="https://twitter.com/n__mikhaylov").text-dark.small @n__mikhaylov
      img(src="images/icons/sprite.svg#images--icons--people-3", width="16" alt="people")