div.text-center.my-auto
  img(src="images/avatar_1.jpg", alt="avatar").rounded-circle
  p.mb-0.text-dark.welcome-message-name
    b Привет, Кодовёнок
  small.text-secondary Выбери чат, чтобы начать общаться